.body {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    background-color: #021A4B;



    /* colors */
    /* --color-black: #13242C;
    --color-dark: #283B49;
    --color-yellow: #EBA849;
    --color-white: #dbdbdb;
    --color-green: #41A88B;
    --color-light: #7987AB;
    --color-skin: #CA906F;
    /* --color-red:       #A00A11; */
    /* --color-blue: #73bcc6;  */

    --color-black: 19, 36, 44;
    --color-dark: 40, 59, 73;
    --color-yellow: 235, 168, 73;
    --color-white: 219, 219, 219;
    --color-green: 65, 168, 139;
    --color-light: 121, 135, 171;
    --color-skin: 202, 144, 111;
    --color-blue: 115, 188, 198;
    /* --color-red: 160 10 17; */

    --left50: {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

/*  COMPOSES */
.left50 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.top50 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* TEXT */
.text {
    composes: centered;
    color:
        rgba(var(--color-white), 1);
    font-size: 2em;
    margin: 0;
    width: 80%;
}

.ref {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 100px;
    text-align: right;
    font-size: 0.7em;
    color: white;
    opacity: 0.2;
    transition: opacity 250ms linear;
}

.ref:hover {
    opacity: 1;
}

.ref>a {
    color: chartreuse;
}

/* STAGE */
.container {
    height: 350px;
    width: 400px;
    filter: blur(5px);
    opacity: 0.4;
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translate(-50%);
}

.bg {
    composes: centered;
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(var(--color-white), 0.05);
    box-shadow: 0px 0px 100px 50px rgba(var(--color-white), 0.1);
}

.light {
    composes: centered;
    border-color: transparent transparent rgb(var(--color-white)) transparent;
    border-style: solid;
    border-width: 0 160px 400px 160px;
    height: 0;
    opacity: 0;
    width: 0;
}

/* animation */
.bg .light {
    animation: light-anima 3s infinite linear;
}

@keyframes light-anima {
    0% {
        opacity: 0
    }

    45% {
        opacity: 0.2
    }

    52% {
        opacity: 0.2
    }

    55% {
        opacity: 0
    }

    60% {
        opcaity: 0
    }

    100% {
        opcaity: 0
    }
}

/* UFO */
.ufo {
    position: absolute;
    height: 100px;
    left: calc(50% - 50px);
    top: 0;
    width: 100px;
    animation: top-anima 1.5s infinite linear;
}

@keyframes top-anima {
    0% {
        top: 0
    }

    50% {
        top: -5px
    }
}

.ufo .alien .alienEye:after {
    animation: alien01-anima 3s infinite linear;
}

@keyframes alien01-anima {
    0% {
        bottom: 30px
    }

    52% {
        bottom: 30px
    }

    55% {
        bottom: 20px
    }

    60% {
        bottom: 20px
    }

    100% {
        bottom: 20px
    }
}

/*  */
.ufoBottom {
    composes: left50;

    background-color: rgba(var(--color-yellow), 1);
    border-radius: 50%;
    height: 20px;
    top: 55px;
    width: 20px;
}

.ufoBottom:after,
.ufoBottom:before {
    position: absolute;
    background-color: rgba(var(--color-yellow), 1);
    border-radius: 50%;
    content: "";
    height: 20px;
    top: -6px;
    width: 20px;
}

.ufoBottom:after {
    left: -25px;
}

.ufoBottom:before {
    left: 25px;
}

/*  */
.ufoTop {
    composes: left50;

    background-color: rgba(var(--color-yellow), 1);
    border-radius: 50%;
    height: 70px;
    width: 90px;
}

.ufoTop:before {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: rgba(var(--color-dark), 1);
    border-radius: 50%;
    content: "";
    height: 70px;
    top: -10px;
    width: 100px;
}

/*  */
.ufoGlass {
    composes: left50;
    background-color: rgba(var(--color-white), 1);
    border-radius: 90px 90px 80px 80px;
    height: 80px;
    overflow: hidden;
    top: -40px;
    width: 80px;
}

.alien {
    composes: left50;
    background-color: rgba(var(--color-green), 1);
    border-radius: 50px 50px 0 0;
    height: 70px;
    overflow: hidden;
    top: 25px;
    width: 50px;
}

.alienEye {
    composes: left50;
    background-color: rgba(var(--color-white), 1);
    border-radius: 50%;
    height: 30px;
    top: 10px;
    width: 30px;
}

.alienEye:after {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    background-color: rgba(var(--color-green), 1);
    border-radius: 50%;
    content: "";
    height: 40px;
    bottom: 30px;
    width: 40px;
}

.alienEye:before {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: rgba(var(--color-black), 1);
    border-radius: 50%;
    content: "";
    height: 10px;
    bottom: 5px;
    width: 10px;
}

/* BED */
.bed {
    composes: left50;
    background-color: rgba(var(--color-black), 1);
    border-radius: 25px;
    bottom: -25px;
    height: 10px;
    width: 230px;
}

.mattress {
    composes: left50;
    background-color: rgba(var(--color-white), 0.4);
    border-radius: 10px;
    bottom: 10px;
    height: 30px;
    width: 220px;
}

.bed .mattress {
    animation: mattress-anima 3s infinite linear;
}

@keyframes mattress-anima {
    0% {
        bottom: 10px
    }

    52% {
        bottom: 10px
    }

    55% {
        bottom: 15px
    }

    60% {
        bottom: 10px
    }

    100% {
        bottom: 10px
    }
}

/* MAN */
.man {
    composes: left50;
    border-radius: 50%;
    bottom: 13px;
    height: 150px;
    width: 150px;

    animation: man-anima 3s infinite linear;
}

@keyframes man-anima {
    0% {
        bottom: 13px
    }

    50% {
        bottom: 80px
    }

    52% {
        bottom: 10px
    }

    55% {
        bottom: 30px
    }

    60% {
        bottom: 13px
    }

    100% {
        bottom: 13px
    }
}

.foot {
    position: absolute;
    background-color: rgba(var(--color-blue), 0.5);
    border-radius: 50%;
    box-shadow: 0px -15px 0 rgba(var(--color-blue), 0.2);
    height: 35px;
    left: 0px;
    top: 113px;
    width: 35px;
}

.manBody {
    composes: left50;
    background-color: rgba(var(--color-skin), 1);
    border-radius: 50%;
    box-shadow: -30px -70px 0 -71px rgb(var(--color-skin));
    height: 150px;
    overflow: hidden;
    width: 150px;
}

.manBody:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(var(--color-blue), 1);
    content: "";
    height: 100%;
    left: calc(50% - 20px);
    width: 100px;
}

.head {
    position: absolute;
    height: 80px;
    right: -78px;
    top: 35px;
    width: 80px;

    transform: rotate(20deg);
    transform-origin: -75px 40px;
    animation: head-anima 3s infinite linear;
}

@keyframes head-anima {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(40deg);
    }

    52% {
        transform: rotate(20deg);
    }

    55% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.face {
    composes: top50;
    background-color: rgba(var(--color-skin), 1);
    border-radius: 50%;
    height: 70px;
    left: 0;
    overflow: hidden;
    width: 70px;
}

.face:after {
    position: absolute;

    background-color: rgba(var(--color-black), 1);
    border-radius: 50%;
    content: "";
    height: 70px;
    left: 0;
    top: 50px;
    width: 70px;
}

.hair {
    position: absolute;
    background-color: rgba(var(--color-black), 1);
    border-radius: 30px 0;
    height: 50px;
    right: 0px;
    top: 20px;
    width: 30px;
}

.arm {
    position: absolute;
    background-color: rgba(var(--color-skin), 1);
    border-radius: 50px;
    height: 140px;
    right: 15px;
    top: 60px;
    width: 60px;

    transform: rotate(30deg);
    transform-origin: 30px 30px;
    animation: arm-anima 3s infinite linear;
}

@keyframes arm-anima {
    0% {
        transform: rotate(30deg);
    }

    15% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-2.5deg);
    }

    30% {
        transform: rotate(2.5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    52% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}